<!DOCTYPE html>
<html>
  <head>
    <title>Tictactoe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'main' %>
    <meta name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>
  </head>

  <body>
    <%= render partial: 'navigation' %>
    <div class='container'>
      <div id="app" :init-user="initParams(<%= @init_params.to_json %>)">
        <router-view></router-view>
        <notifications group="notifications"
               position="bottom right">
           <template slot="body" slot-scope="props">
            <div :class="'vue-notification-template vue-notification ' + props.item.type">
                <div
                  class="notification-title"
                  v-html="props.item.title"
                >
                </div>
                <a v-if="props.item.title == 'Новая игра'" :href="'/player_menu#/games/' + props.item.text">
                  Перейти к игре
                </a>
                <div v-if="props.item.title != 'Новая игра'"
                  class="notification-content"
                  v-html="props.item.text"
                >
                </div>
            </div>
          </template>
        </notifications>
      </div>

    </div>
  </body>
</html>
